<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>About me- chat room</title>
            <link rel="stylesheet" type="text/css" href="/about.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    <body>
        <div>
            <div class="card about">
                <div class="card-content">
                    <span class="card-title" style="font-weight:500;text-align: center;">About Me</span>
                    <p style="text-align:justify;">
                            I'm a third year student majoring in Electronics and communication engineering. My interest lie in the web development, data analytics, Internet of Things and computers in general. 
                    </p>
                    <div class="linksDiv">
                        <a href="https://github.com/ramasubramanian-d"><img class="circle" src="/github.png"></a>
                        <a href="https://www.linkedin.com/in/ramasubramanian-d-009465114/"><img class="circle" src="/linkedin.png"></a>
                        <a href="https://ramasubramanian-d.github.io"><img class="circle" src="/website.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>