<html>
    <head>
        <title>chat room</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    </head>
    <body>
            <div id="onlineUsers" class="modal">
                <div class="modal-content">
                    
                </div>
                <div class="modal-footer">
                    <p>users online</p>
                </div>
            </div>
        
        <div class="content">
            <div id="out"></div>
            <div id="typing"></div>
        </div>
        <div class="input">
            <div class="row">
                <div class="col s10" style="text-align:left;">
                    <input id="name" type="text" placeholder="Name">
                    <br/>
                    <textarea class="materialize-textarea" id="message" placeholder="Message" ></textarea>
                    <br/>
                </div>
                <div class="col s1">
                    <a id="send" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">send</i></a>
                </div>
                <div class="col s1">  
                    <ul id="more" class="dropdown-content">
                        <li><a href="#onlineUsers" class="modal-trigger">Users Online</a></li>
                        <li><a href="/about">About the developer</a></li>
                    </ul>
                    <a id="send" class="btn-floating btn-flat btn-large waves-light dropdown-button" data-activates="more" style="background-color:transparent;border:none;"><i class="material-icons">more_vert</i></a> 
                </div>
            </div>
        </div>
        <script src="/main.js"></script>
        <script>
            $(document).ready(function(){
                $('.modal').modal();
            });
        </script>
    </body>
</html>